<div class="landing-hero">

  <h1>Welcome to International Eats Vault. Please select Log In or Sign Up</h1>
  
  <a href="/login">
    <button>Log In</button>
  </a>

  <a href="/signup">
    <button>Sign Up</button>
  </a>

    <main>


</div>
