<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>International Eats Vault</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/app.js"></script>
  </head>
  <body>
    <ul id="nav">
      <li>
        <a href="/"> Home </a>
      </li>
      <li>
        <a href="/recipe"> Recipe </a>
      </li>
      <li>
        <a href="/login"> Log In </a>
      </li>
      <li>
        <a href="/logout"> Log Out </a>
      </li>
    </ul>
    <%- body %>
  </body>
</html>
