body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1daa9086-0f1d-4d65-86b5-4a15a36d08d4/traditional-food-around-the-world-Travlinmad.jpg?format=1500w");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Arial", sans-serif;
  color: white;
}

header {
  background-color: #ffa500;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#nav {
  background-color: #ffa500;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

#nav li {
  display: inline;
  margin-right: 20px;
}

#nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.ingrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

fieldset {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

legend {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10%;
}

.recipe-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.recipe-form h2 {
  font-size: 24px;
  color: #ff4500;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
}

.form-group input::placeholder {
  color: #999;
}

.form-group input:focus {
  border-color: #ffa500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.recipe-button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.recipe-button:hover {
  background-color: #ff5500;
}

.landing-hero {
  text-align: center;
  background-color: rgba(255, 165, 0, 0.7);
  padding: 60px 0;
}

.landing-hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.landing-hero button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

.recipe-list,
.recipe-desc {
  max-width: 800px;
  margin: 0 auto;
}

.recipe-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.recipe-item h2 {
  font-size: 24px;
  color: #ff4500;
  margin-bottom: 10px;
}

.recipe-details p {
  font-size: 16px;
  line-height: 1.5;
  color: black;
  margin-bottom: 10px;
}

.recipe-item a {
  text-decoration: none;
  color: #ff4500;
}

.recipe-item a:hover {
  text-decoration: underline;
}

button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5500;
}
